<nav class="navbar navbar-dark" style="background-color: #1C3879;">
  <!-- LOGO -->
  <div class="logo">
    <img src="/assets/valtik-2.png" alt="Valtik" width="70px">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
      <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div>
  <!-- NAVIGATION MENU -->

  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu" >

      <li><a href="/">Home</a></li>
      <li><a href="/">Catálogo</a></li>
      <li><a href="/">Inicio sesión</a></li>
      <li><a href="/">Registro</a></li>
      <li><a href="/"><i class="bi bi-cart3"></i>
      </a></li>
    </div>
  </ul>
</nav>

