<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">Valtik</div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/">Perfil</a></li>
      <li>
        <a href="/">Catálogo</a></li>
      <li class="carrito"><a href="/"><img src="./assets/svg/icon_shopping_cart.svg" alt="carrito">
      </a></li>
    </div>
  </ul>
</nav>

