<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1C3879; color:#EAE3D2;">
  <div class="container-fluid">
    <div class="col col-lg-4">
      <a class="navbar-brand" href="#">
        <img src="/assets/valtik-2.png" width="70" height="24"alt="Logo" >
      </a>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"
          [routerLink]="['']" [routerLinkActive]="'active'">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
          role="button" data-bs-toggle="dropdown" aria-expanded="false"
          [routerLink]="['catalogo']" [routerLinkActive]="'active'">
            Catálogo
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"
              [routerLink]="['catalogo/camisas']" [routerLinkActive]="'active'">Camisas</a></li>
            <li><a class="dropdown-item" href="#"
              [routerLink]="['catalogo/pantalones']" [routerLinkActive]="'active'">Pantalones</a></li>
            <li><a class="dropdown-item" href="#"
              [routerLink]="['catalogo/zapatos']" [routerLinkActive]="'active'">Zapatos</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <div *ngIf = "nombreUsuario()=='' ; else verUsuario">
            <a class="nav-link" aria-current="page"
            [routerLink]="['inicio-sesion']" [routerLinkActive]="'active'"
          >Inicio de sesión {{this.inicio.getNombre()}} {{nombreUsuario()}}</a>
          </div>

        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"
          [routerLink]="['registro']" [routerLinkActive]="'active'">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#"
          [routerLink]="['carrito-compras']" [routerLinkActive]="'active'"><i class="bi bi-cart2"></i>
            <span>{{counter}}</span>
          </a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-dark" style="background-color: #607EAA;" type="submit"
        (click)="nombreUsuario()"
        >Search</button>
      </form>
    </div>
  </div>
</nav>

<ng-template #verUsuario>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
    role="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{nombreUsuario()}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
    </ul>
  </li>
</ng-template>
