<div class="container" id="imagen">
  <div class="clothing">
    <div class="item">
      <img class="img" src="https://via.placeholder.com/150" alt="Describe Image">
    </div>
  </div>
    <div class="form-container">
      <form class = "form">
        <div class = "form-group">
            <label class = "form-label">Nombre</label>
              <input type="text" class = "form-input" placeholder="Ej. Juan Pablo" required/>
        </div>
        <div class = "form-group">
            <label class = "form-label">Apellidos</label>
              <input type="text" class = "form-input" placeholder="Ej. Molina Arango" required/>
        </div>
        <div class = "form-group">
            <label class = "form-label">Correo</label>
              <input type="text" class = "form-input" placeholder="micorreo@correo.com" required/>
        </div>
        <div class = "form-group">
            <label class = "form-label">Teléfono</label>
                <input type="text" class = "form-input" placeholder="2452845" required/>
        </div>
        <div class = "form-group">
            <label class = "form-label">Identificación</label>
                <input type="text" class = "form-input" placeholder="Ejemplo" required/>
        </div>
        <div class = "form-group">
          <label class = "form-label">Dirección</label>
              <input type="text" class = "form-input" placeholder="Ejemplo" required/>
        </div>
        <div class = "form-group">
          <label class = "form-label">Usuario</label>
              <input type="text" class = "form-input" placeholder="Ejemplo" required/>
        </div>
          <div class = "form-group">
            <label class = "form-label">Contraseña</label>
                <input type="text" class = "form-input" placeholder="Ejemplo" required/>
          </div>
        <div class= "form-group">
                <input type="submit" class = "form-submit" value = "Registrar"/>
        </div>
    </form>
  </div>
</div>

